
.TodoCounter-container {
    width: 95%;
    height: 100px;
    border-bottom: 2px solid #58b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TodoCounter-text {
    font-size: 2.8rem;
    color: #fff;
    text-align: center;
}

.TodoCounter-text--loading {
    opacity: 25%;
}